:root {
  --saleBgcolor: #ff1648;
  --saleTextColor: #edeade;
  --salePriceColor: var(--saleBgcolor);
}

.item {
  background: white;
  box-shadow: 0 2px 10px rgba(126, 126, 126, 0.1);
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;

  .saleBadge {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: var(--saleBgcolor);
    color: var(--saleTextColor);
    padding: 5px 20px;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
    transform: rotate(45deg);
  }

  .imageWrapper {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    border: 2px solid #c4c4c4;

    .image {
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 10%;
    }
  }

  .info {
    padding: 15px;

    .title {
      font-size: 14px;
      font-weight: 600;
      color: #444444;
      margin: 0 0 10px 0;
      line-height: 1.4;
      height: 40px;
      overflow: hidden;
    }

    .priceWrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 15px;

      .price {
        font-size: 18px;
        font-weight: 400;
        color: #8a8a8a;
      }

      .oldPrice {
        font-size: 14px;
        color: #818181;
        text-decoration: line-through;
      }

      .salePrice {
        font-size: 18px;
        color: var(--salePriceColor);
        font-weight: 400;
      }
    }
  }
}
