.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 800px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 950px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 1100px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(6, 1fr);
  }
}
